*.pyc
__pycache__/
.pytest_cache/
*.egg-info/
dist/
.venv/
installer/mac/venv_payload/
installer/mac/payload/
installer/mac/Output/
installer/mac/*.pkg
installer/windows/Output/
installer/windows/*.whl
